# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/
*.egg
*.whl

# Virtual environments
venv/
venv3/
.venv/
env/
ENV/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
.cache
.pytest_cache/
.tox/
.nox/
.coverage
coverage.xml
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
python-version

# IDEs and editors
.vscode/
.idea/
.history/

# Environment variables
.env
.env.*

# Logs
*.log
logs/

# macOS
.DS_Store

# Others
*.pyc
*~

/*.whl
torch-2.4.0a0+3bcc3cddb5.nv24.07.16234504-cp310-cp310-linux_aarch64.whl
/torch-2.4.0a0+3bcc3cddb5.nv24.07.16234504-cp310-cp310-linux_aarch64.whl
torch-2.5.0a0+872d972e41.nv24.08.17622132-cp310-cp310-linux_aarch64.whl
/torch-2.5.0a0+872d972e41.nv24.08.17622132-cp310-cp310-linux_aarch64.whl
